@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
h3{
    font-size: 24px;
    text-align: center;
}
.section1{
    background-color: #FCEEF1;
}
.container{
    position: relative;
    height: 100vh;
    margin: 0 auto;
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 14px;
    font-weight: 400;
    color: #8d8d8d;
    padding: 20px 0;
    text-align: center;
    line-height: 150%;
}
h3{
    font-size: 30px;
    font-weight: 800;
}
/* ===============section1====================== */
.section1 .container{
    flex-direction: row;
    justify-content: space-between;
}
.sec1{
    height: 100%;
    width: 50%;
}
.sec1.box2{
    width: 45%;
    
}
.sec1.box2 img{

    position: absolute;
    height: 90%;
    bottom: 0%;
}
#box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#box1 h1{
    font-size: 50px;
    line-height: 140%;
    font-weight: 900;
}
.section1 p{
    text-align: left;
}


.button a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #E55473;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: capitalize;
}

/* ===============section2====================== */
.section2 .container{
    padding: 50px 0;
}
.section2 p{
    padding: 10px 0;
}
.s2box{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.s2boxes{
    height: 400px;
    width: 32%;
}
.section2 .ibox{
    width: 100%;
    height: 80%;
    background-color: aquamarine;
    border-radius: 50% 50% 0 0;
    display: flex;
    justify-content: center;
    align-items: end;
}
.section2 .ibox img{
    height: 80%;
}
.s2ib{
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-decoration: underline;
    padding: 10px 0;
}

/* ===============section3====================== */

.s3boxes{
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
    height: 200px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.s3box{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s3box p{
    color: #545454;
    font-size: 16px;
    font-weight: 600;
}

/* ===============section4==================== */
.section4{
    background-color: #FCEEF1;
}

.section4 .container{
    height: 50vh;
    flex-direction: row;
    justify-content: space-around;
}
.s4box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* =====================section5-============ */
.section5 .container{
    padding: 50px 0;
}
.section5 p{
    padding: 10px 0;
}
.section5 .s2box{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.section5 .s2boxes{
    height: 400px;
    width: 24%;
}
.section5 .ibox{
    width: 100%;
    height: 80%;
}
.section5 .ibox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* =====================section6-============ */

.section6 .container{
    background-image: url(./images/Rectangle\ 9.png);
    background-position: top;
    background-size: cover;
    height: 50vh;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}
input{
    display: inline-block;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    
}
input[type=text]{
    width: 500px;
    

}
input[type=submit]{
    background-color: #E55473;
    color: white;
    font-weight: 600;
}

/* ========================footer=================== */
footer{
    background-color: #111010;
    color: #fff;
}
footer .container{
    height: 50vh;
    justify-content: center;
}
.copyright{
    padding: 0;

}